HOST=
PORT=
URL=
ADMIN=
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
JWT_SECRET=
NAME=
INIT_ADMIN=true
INIT_ADMIN_USERNAME=
INIT_ADMIN_PASSWORD=
INIT_ADMIN_FIRSTNAME=
INIT_ADMIN_LASTNAME=
INIT_ADMIN_EMAIL=
GITHUB_TOKEN=